@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{
    font-size: 62.5%;
    scroll-padding-top: 8rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: "Poppins", sans-serif;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.388); */

}

[placeholder]:focus::-webkit-input-placeholder {
    /* -webkit-transition: opacity 0.3s 0.3s ease; 
    -moz-transition: opacity 0.3s 0.3s ease; 
    -ms-transition: opacity 0.3s 0.3s ease; 
    -o-transition: opacity 0.3s 0.3s ease; */
    transition: opacity 0.3s 0.3s ease;  
    opacity: 0;
  }

/* navbar starts */

.navbar{
    width: 100%;
    height: 80px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: #fff;
    top: 0;
    z-index: 50;
    box-shadow: rgb(117, 226, 208) 0px .1rem .5rem;

    
}
.navbar h1{
    font-size: 2rem;
}
.navbar span{
    /* color:lightcoral; */
    /* color:rgb(12, 185, 171); */
    /* color: rgb(64, 184, 180); */
    color: rgb(24, 196, 167);
}

.navbar ul{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    width: 45%;
}

.navbar ul li{
    list-style-type: none;
}

.navbar ul a{
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.637);
    font-weight: 500;
}

.navbar ul a:hover{
    /* color: mediumturquoise; */
    color: rgb(24, 196, 167);
    /* color: lightcoral; */
}


/* nav ends */


/* hero starts */

.hero_container{
    background-image: url('./images/welcome-hero/banner.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width:100%;
    height: 120vh;
    /* margin-top: 80px; */
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: relative;
}

.hero_container::before{
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.603);
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;

}
.hero_container p{
    font-size: 4.0rem;
    color: #fff;
    width: 70%;
    text-align: center;
    z-index: 10;
    font-weight: 650;
    line-height: 60px;
    
}
.hero_container p:nth-child(1){
    word-spacing: .5rem;
    letter-spacing: .2rem;
    text-shadow: 2px 2px 2px rgb(22, 170, 145);

}
.hero_container p:nth-child(2){
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
    z-index: 10;
    font-weight: 400;
}


.hero_container .bar{
    margin-top: 30px;
    justify-content: center;
    z-index: 10;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 80%;
    /* border: 2px solid red; */
    gap: 20px;
    height: 70px;
}
.hero_container .bar input{
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    width: fit-content;
}

/* .hero_container .bar input:focus{
    outline: none;
} */

.hero_container .bar .leftbar{
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 100%;
    border-radius: 5px;
    /* gap: 10px; */
}
.hero_container .bar .leftbar .leftbarleft,.leftbarryt{
    display: flex;
    align-items: center;
    gap: 15px;
}

/* .hero_container .bar .leftbar .leftbarleft,.leftbarryt p:nth-child(3) i{
    right:0;
    padding-left: 15px;
    padding-top: 10px;
} */
.hero_container .bar  p{
    color: rgba(0, 0, 0, 0.715);
    font-size: 1.8rem;
    font-weight: 500;
    word-spacing: 0rem;
    letter-spacing: 0rem;
    
}
.hero_container .bar .rightbar{
    height: 100%;
    width: 15%; 
    background-color: rgb(22, 170, 145);
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 12px; */
}

.hero_container .bar .rightbar p{
    color: #fff;
}


.hero_container .bar .leftbar .leftbarleft,.leftbarryt .material-symbols-outlined{
    font-variation-settings: 'wght' 700;
}
/* hero ends */

/* home below starts*/

.homebelow{
      /*  replce padding*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1.5rem;
    /* position: absolute; */
    position: relative;
    top:-70px;
    z-index: 1;
}

.homebelow .card{

    width: 205px;
    display: flex;
    padding: 15px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgba(0, 0, 0, 0.671);
    z-index: 10;
    gap:10px;
    border-radius: 5px;
}

.homebelow .card p:nth-child(2){
    font-weight: 500;
    font-size: 1.8rem;
    
}

.homebelow .card p:nth-child(3){
    font-weight: 400;
    
}

.homebelow .card span{
    font-size: 4rem;
}

.homebelow .card:hover{
    /* background-color: rgb(252, 91, 91); */
    color: #fff;
    background-color: rgb(22, 170, 145);
}



.homebelow .card span{
    /* font-variation-settings: 'wght' 700; */
    font-size: 3rem;
    font-weight: 500;
}

/* homebelow ends */


/* working starts */

.working{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: rgba(0, 0, 0, 0.712);
    padding-bottom: 15rem;
    background-color: #fff;
}

.working p:nth-child(1){
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: .17rem;
    
    text-shadow: 2px 2px 2px rgb(22, 170, 145);
}
.working p:nth-child(2){
    font-size: 1.7rem;
    /* color:rgba(0, 0, 0, 0.712); */
}

.workingcards{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.working .workingcards .work_card{
    width: 35rem;
    /* padding: 2rem; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px .5rem 1rem; 
    border: .1rem solid rgba(0, 0, 0, 0.137);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 6rem;
    border-radius: 5px;
}

.workingcards .work_card .work_icon{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    /* background-color: lightcoral; */
    /* border: .1rem solid rgb(252, 91, 91); */
    /* border: .02rem solid rgb(22, 170, 145); */
    box-shadow: rgb(22, 170, 145) 0px .1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.76);
}

.work_card .work_icon img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    
}

.workingcards .work_card p:nth-child(2){
    font-size: 1.8rem;
    font-weight: 500;

}

.workingcards .work_card p:nth-child(3){
    font-size: 1.4rem;
    text-align: center;
    /* color: rgba(0, 0, 0, 0.678); */
}

.work_card .workbtn button{
    padding: .5rem;
    color: rgba(0, 0, 0, 0.582);
    /* border: .1rem solid rgba(0, 0, 0, 0.678) ; */
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px .5rem 1rem; */
    box-shadow: rgb(22, 170, 145) 0px .1rem .5rem;
    border: none;
    outline: none;
    border-radius: 2px;
    font-family: "Poppins", sans-serif;
}

.workingcards .work_card:hover{
    color: #fff;
    background-color: rgb(22, 170, 145);
    transition: all 0.4s linear 0s;
}

.workingcards .work_card:hover button{
    color: rgb(22, 170, 145) ;
}

.workingcards .work_card:hover .work_icon{
    background-color: #fff;
    color:rgb(22, 170, 145);
}

/* working ends */

/* explore starts */

.explore{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: rgba(0, 0, 0, 0.712);
    padding: 3rem 0 12rem 0;
    /* padding-bottom: 15rem; */
}
.explore p:nth-child(1){
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: .17rem;
    text-shadow: 2px 2px 2px rgb(22, 170, 145);
}
.explore p:nth-child(2){
    font-size: 1.7rem;
    padding-bottom: 3rem;
    /* color:rgba(0, 0, 0, 0.712); */
}

.explore .explorecards{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 3rem;
    padding: 1rem;
}

.explorecards .exp_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 27%;
    box-shadow: rgb(197, 197, 197) 1px 1px 10px 1px;
    /* height: 30%; */
    /* gap: 15px; */
}
.explorecards .exp_card:hover{
    box-shadow: rgb(116, 117, 117) 1px 1px 20px 1px;
}

.explorecards .exp_card:hover .bestrated{
    opacity: 1;
    transition: .3s linear;
}
.explorecards .exp_card p{
    font-size: 1rem;
    color: black;
    text-shadow: none;
    padding: 0;
}

.exp_card .exp_img{
    width: 100%;
    position: relative;
    /* object-fit: cover; */
}


.exp_card .exp_img img{
    width: 100%;
    /* object-fit: contain; */
}

.exp_card .exp_img .bestrated{
    padding: .8rem 1.2rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: absolute;
    width: 100%;
    bottom: .5rem;
    opacity: 0;
}

.exp_card .exp_img .bestrated .brtext p{
    font-size: 1.2rem;
    letter-spacing: normal;
    background-color: rgb(22, 170, 145);
    padding: .2rem .8rem;
    border-radius: .2rem;
    color: #fff;
}
.exp_card .exp_img .bestrated .besticon{
    display: flex;
    gap: .6rem;
}

.exp_card .exp_img .bestrated .besticon i{
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.842);
    padding: .3rem;
}



.exp_card .exp_content{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
}
.exp_card .exp_content .title p{
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.747);
    letter-spacing: normal;
    font-weight: 500;
}
.exp_content .exp_rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-size: 1.2rem; */
    padding-right: 2.5rem;
    font-weight: 500;
}
.exp_content .exp_rating p{
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.678);
    font-weight: 500;
    
}

.exp_content .exp_rating #point{
    color: #fff;
    font-weight: 500;
    background-color: rgba(53, 131, 233, 0.63);
    padding: .1rem .3rem;
    border-radius: .3rem;
}

.exp_content .exp_rating #form{
    border-left: .7px solid rgba(0, 0, 0, 0.144);
    border-right: .7px solid rgba(0, 0, 0, 0.144);
    padding: 0 .7rem;
}

.exp_content .exp_rating span{
    color: rgba(255, 0, 0, 0.788);
}

.exp_content .user{
    display: flex;
    /* justify-content: center; */
    justify-content: first baseline;
    /* align-items: center; */
    padding: .5rem 0 2rem .1rem;
    gap: 10px;
    width: 100%;
    border-bottom: .7px solid rgba(0, 0, 0, 0.144);
}

.exp_content .user .userimg{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.exp_content .user .userimg img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.exp_content .user .userdes{
    width: 70%;
}
.exp_content .user .userdes p{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.603);
}
.exp_content .expfoot{
    display: flex;
    justify-content: space-between;
}

.exp_content .expfoot p{
    color: rgba(255, 0, 0, 0.596);
    letter-spacing: normal;
    font-size: 1.3rem;
}

.exp_content .expfoot #open{
    color: rgb(103, 221, 103);
}

.exp_content .expfoot .expicons{
    display: flex;
    gap: 1rem;
    
}

.exp_content .expfoot .expicons i{
    font-size: 1.5rem;
}




/* explore ends */


/* client section starts */

.clientsection{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: rgba(0, 0, 0, 0.712);
    padding: 3rem 0 6rem 0;
    /* padding-bottom: 6rem; */
}
.clientsection p:nth-child(1){
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: .17rem;
    text-shadow: 2px 2px 2px rgb(22, 170, 145);
}
.clientsection p:nth-child(2){
    font-size: 1.7rem;
    padding-bottom: 4rem;
}

.clientsection .clients{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 3rem;
    padding: 1rem;
}
.clients .clientcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    box-shadow: rgb(197, 197, 197) 1px 1px 10px 1px;
    /* height: 30%; */
    /* gap: 15px; */
    padding: 2rem 1.5rem;
}
.clients .clientcard p{
    font-size: 1rem;
    color: black;
    text-shadow: none;
}

.clients .clientcard .cupper{
    display: flex;
    justify-content: space-evenly; 
    width: 100%;
}

.cupper .cupperdes{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    /* left: 0; */
}

.cupper .cupperdes .title p{
    font-size: 1.6rem;
}

.cupper .cupperdes .cadd>p{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.712);
}

.cupper .cupperdes .cicon p{
    font-size: 1.4rem;
}

.clower {
    padding:1rem;
}

.clower .cdes p{
    font-size: 1.3rem;
    color:rgba(0, 0, 0, 0.712);
}

/* client section ends*/


/* client section below starts*/

.container{
    display: flex;
    align-items: center;
    background-image: url(./images/counter/counter-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:fixed;
    top: 0; left: 0;  right: 0;   bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;

}
.container :before{
    position:absolute;
    content:'';
    background: rgba(75,75,75,.60);
    height:100%;
    width:100%;
    top:0;
    left:0;
    /* right: 0; bottom: 0; */
    z-index: 1;
}
.stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap:2rem; */
    
    background-color: rgba(0, 0, 0, 0.388);
    padding: 9rem 9rem;
}

.stats .stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;   
}
.stats .stat p{
    font-size: 5.7rem;
    color: #fff;
}

.stats .stat p:nth-child(2){
    font-size: 2.5rem;
    color: #fff;
}

/* client section below ends */

/* contact starts */

.contact{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: rgba(0, 0, 0, 0.712);
    padding: 11rem 0 12rem 0;
    /* padding-bottom: 15rem; */
}
.contact p:nth-child(1){
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: .17rem;
    text-shadow: 2px 2px 2px rgb(22, 170, 145);
}
.contact p:nth-child(2){
    font-size: 1.7rem;
    padding-bottom: 3rem;
    font-weight: 600;
    color:rgba(0, 0, 0, 0.712);
}

.contact .inputbar{
    display: flex;
    box-shadow: rgb(197, 197, 197) 1px 1px 10px 1px;

}

.contact .inputbar:hover{
    box-shadow: rgb(116, 117, 117) 1px 1px 20px 1px;
    /* box-shadow: 0 5px 20px rgba(21,19,19,.4) */

}

.contact .inputbar input{
    font-size: 1.6rem;
    padding: 1.5rem 15rem 1.5rem 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    border: none;
    outline: none;
}

.contact .inputbar .btn button{
    font-size: 1.6rem;
    padding: 1.5rem 3rem 1.5rem 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: rgb(22, 170, 145);
    color: #fff;
}


/* contact ends */


/* footer starts */


.footersec{
    background-color: #fff;
    padding: 0rem 5rem;
}

.footersec  .footsection{
    width: 100%;
    height: 80px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed; */
    background-color: #fff;
    bottom: 0;
    z-index: 50;
    /* box-shadow: rgb(117, 226, 208) 0px .1rem .5rem; */
    border-bottom: .5px solid rgba(0, 0, 0, 0.144);
    
}
.footsection h1{
    font-size: 2rem;
}
.footsection span{
    /* color:lightcoral; */
    /* color:rgb(12, 185, 171); */
    /* color: rgb(64, 184, 180); */
    color: rgb(24, 196, 167);
}

.footsection ul{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    width: 45%;
}

.footsection ul li{
    list-style-type: none;
}

.footsection ul a{
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.637);
    font-weight: 500;
}

.footsection ul a:hover{
    /* color: mediumturquoise; */
    color: rgb(24, 196, 167);
    /* color: lightcoral; */
}

.footersec .footbelow{
    display:flex ;
    justify-content: space-around;
    padding: 2.5rem 2rem;
}

.footersec .footbelow p{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.514);
    font-weight: 500;
}

.footersec .footbelow i{
    font-size: 1.1rem;
    /* color: rgba(0, 0, 0, 0.514); */
    color: rgb(22, 170, 145);
    font-weight: 500;
}

.footbelow .footicon span i{
    color: rgb(0,0,0,0.514);
}

.footersec .footbelow .footicon span i:hover{
    color: rgb(22, 170, 145);
}

.footersec .footbelow .footicon #ficon:hover{
    background-color: rgb(22, 170, 145);
    color: #fff;
}

.footersec .footbelow .footicon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.footbelow .footicon .ficonsocial{
    display: flex;
    text-align: center;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
}

.footersec .footbelow .footicon #ficon{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    font-size: 1.5rem;
    
}


/* footer ends */